{% extends "main/base.html" %} {% load staticfiles %} {% block content %}
<form id='event-form' method="post" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <input type='text' id='event-title-field' required name='title' placeholder="Введите название">
    <input type="datetime-local"" name="date" id="date" required>
    <label id='date-label'>Выберите дату: </label>
    <img id="preview" src="media/placeholder2.png" />
    <label for='imgInput' class='btn btn-success'>
    <span class="glyphicon glyphicon glyphicon-download-alt"></span>
Загрузить изображение</label>
    <input type='file' id="imgInput" name='preview' required onchange='imageUploaded(event)' />
    <textarea id='event-description-field' required placeholder="Введите описание здесь" name="description" form='event-form'></textarea>

    

   
   <div class='trip-map'>
        <div id='trip-div'>
            
        </div>

        <div class='map-control'>
                <span class="glyphicon glyphicon-map-marker mymarker">
                
                </span>
                <span id='num-of-places'>
                0
                </span>
                  <button id='clear-button' type="button" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
        Очистить 
        </button>
        <button id='route-button' type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-road"></span>
        Проложить маршрут 
        </button>
      


    </div>
        
        
    </div>
        <div id='locations-div'>
         
    </div>
    <button id='publish-button' type="submit" class="btn btn-success"> 

    Опубликовать</button>
    <input id='data' type="hidden" name='locations'>
</form>
{% endblock content %} {%block scripts %}

<script>

document.getElementById("route-button").addEventListener("click", routeOnClick);
document.getElementById("clear-button").addEventListener("click", clearOnClick);



var data = []
var map;
markerIndex = 1

function clearOnClick(event)
{
    for( var[coordinates, address] of markers )
    {
       coordinates.setMap(null)
       
    }

    directionsDisplay.setMap(null)
    markers.clear()
    data = []
   
     numOfPlaces = document.getElementById('num-of-places')
    numOfPlaces.innerText = 0
    updateLocations()
    markerIndex = 1
}


function updateDistanceAndDuration(legs)
{
    totalDistance = 0
    totalDuration = 0
    for(leg of legs)
    {
        totalDistance += leg.distance.value
        totalDuration +=leg.duration.value
    }

    killometres = Math.floor(totalDistance / 1000)
    metres = totalDistance % 1000
    
    minutes = Math.floor(totalDuration / 60)
    hours = Math.floor(minutes / 60)
    days = Math.floor(hours / 24)

    
    hours = minutes % 24
    minutes = totalDuration % 60

    numOfPlaces = document.getElementById('num-of-places')
    numOfPlaces.innerText = killometres==0 ? metres.toString() + 'м':killometres.toString() +'км'+' '+ metres.toString() + 'м'

    console.log(killometres)
    console.log(metres)
    console.log(minutes)
    console.log(hours)
    console.log(days)
}

function routeOnClick(event)
{
    buildRoute()
}

function buildRoute()
{

   directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true,preserveViewport: true});
   directionsService = new google.maps.DirectionsService();
   directionsDisplay.setMap(map)
 
   var start = new google.maps.LatLng(data[0]['position'][0],data[0]['position'][1]);
   var end = new google.maps.LatLng(data[data.length-1]['position'][0],data[data.length-1]['position'][1]);
   var wayps = []

   for (var i = 0; i < data.length; i++) {
       wayps.push({
              location: new google.maps.LatLng(data[i]['position'][0],data[i]['position'][1]),
              stopover: true
            })
   }


    var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.WALKING,
        waypoints:wayps,
        optimizeWaypoints: true,
        unitSystem: google.maps.UnitSystem.METRIC

    };

     directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                        console.log(response.routes[0].legs)
                        updateDistanceAndDuration(response.routes[0].legs)
                       
                    }
                    else
                    {
                        console.log(response)
                    }
                });
}

 

function imageUploaded(event) {
    var img = document.getElementById("preview")
    var file = document.getElementById('imgInput').files[0]
    var reader = new FileReader();
    reader.onloadend = function() {
        img.src = reader.result;
    }

    if (file) {
        reader.readAsDataURL(file);
    } else {
        img.src = "";
    }

}



var directionsDisplay;
var directionsService;

function updateLocations(){

    var locations = document.getElementById('locations-div')
    locations.innerHTML = ''

    index = 1
    for( address of markers.values()){
        locations.innerHTML += '<label class="place-label">'+ (index++)+'. '+ address + '</label>' 
        
    }


    data = []   
    for( var[coordinates, address] of markers )
    {
        data.push({position:[coordinates.position.lat(),coordinates.position.lng()], address:address})
       
    }
    console.log(data)
    document.getElementById('data').value = JSON.stringify(data)  
    

}

var markers = new Map();

window.initMap = function() {
    var uluru = { lat: 37.334818, lng: -121.884886};

    map = new google.maps.Map(document.getElementById('trip-div'), {
        zoom: 4,
        center: uluru
    });

    var index_of_location = 0;

    
    map.addListener('click', function(event) {

        var marker = new google.maps.Marker({
            position: event.latLng,
             map: map,
             label: (markerIndex++).toString(),
             
        });

        

        var geocoder = new google.maps.Geocoder;
        geocoder.geocode({ 'latLng': event.latLng }, function (results, status) {

            if (status !== google.maps.GeocoderStatus.OK) {
                alert(status);
            }

            if (status == google.maps.GeocoderStatus.OK) {
            
            markers.set(marker, results[0].formatted_address)
            updateLocations()
            }
        });
        
        
        marker.addListener('click', function(event) {
                marker.setMap(null);
                markerIndex--;
                markers.delete(marker)

                updateLocations()
                
            });

             
    });

}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBehhemw69_xytwSyjeWyhwgxoG_X9cTAw&callback=initMap&language=ru ">
</script>
{%endblock scripts %}