{% extends "main/base.html" %} {% load staticfiles %} {% block content %}
<div id='event-form'>
    <span id='event-title-field'>{{trip.title}} </span>
    <img id="preview" src={{ trip.preview.url}} />
    <div><a href="{% url 'profile' trip.creater.username %}" style="width:100%; font-weight: 500; color:grey">
     Организатор: {{trip.creater.username}}
    </a></div>
    <div class='event-description-div'> <strong>Описание:</strong>
        <br> {{trip.description}}</div>
    <div class='date-description-div'> <strong>Дата и время:</strong>
        <br>{{trip.date.month}}.{{trip.date.day}}.{{trip.date.year}} @ {{trip.date.hour}}:{{trip.date.minute}} </div>
    <div class='place-description-div'> 
        <strong> Информация о маршруте</strong>
        <p id="trip-distance" style="margin:0">Длина: asd</p> 
        Мест: {{trip.trip.num_of_places}} <br>
        <a id="place-name" data-toggle="modal" data-target="#mapModal">
             
          
            Показать на карте  <i class="glyphicon glyphicon-map-marker"></i>
           

        </a>
    </div>
    {% csrf_token %}
    {% if not request.user.is_anonymous %}
    <button id='subscribe-button' type="button" class="btn btn-primary btn-sm" onclick="subscribeOnClick(event)">Подписаться
    </button>
    {% endif %}
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter" style="float: right">
        Показать подписчиков
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle"><strong>Подписчики</strong></h4>
                </div>
                <div class="modal-body subscribers-grid">
                    {% for subscription in subscriptions %}
                    <div class="subscribers-grid-cell">
                        <a href="{% url 'profile' subscription.subscriber.profile.user.username %}" style="width: 75px; font-weight: 500;">
                            <center><img src="{{subscription.subscriber.profile.avatar.url}}" style="width: 75px; height: 75px; border-radius: 50%;"> {{subscription.subscriber.username}}
                            </center>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle"><strong>Маршрут: {{trip.title}}</strong></h4>
                </div>
                <div class="modal-body">
                    <div id="event-location">
                     

                    </div>
                    <div id='locations-div'>
                    {%for location in locations %}
                    <label class="place-label">{{location.address}} 
                    </label> 

                    {% endfor %}
         
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

</div>

    {% include "main/comment_block.html" %}
{% endblock content %} {%block scripts %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBehhemw69_xytwSyjeWyhwgxoG_X9cTAw&callback=initMap&language=ru">
    </script>
<script>


var directionsDisplay;
var directionsService;

dist = {{trip.trip.distance}}
distance = document.getElementById('trip-distance')

killometres = Math.floor(dist / 1000)
metres = dist % 1000

dist = killometres==0 ? metres.toString() + 'м':killometres.toString() +'км'+' '+ metres.toString() + 'м'

distance.innerText = 'Длина: ' + dist


var sub = false; {% if subscribed %}
sub = true; {% endif %}

var button = document.getElementById('subscribe-button');

if (sub) {
    button.innerText = 'Отписаться'
} else {
    button.innerText = 'Подписаться'
}

function subscribeOnClick(event) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{% url "event_subscribe"  %}', true);
    xhr.setRequestHeader("X-CSRFToken", document.getElementsByName('csrfmiddlewaretoken')[0].value);

    data = {}
    data.event = {{ trip.id }}
    data.subscribed = sub
    xhr.send(JSON.stringify(data))

    sub = sub ^ 1;

    if (sub) {
        button.innerText = 'Отписаться'
    } else {
        button.innerText = 'Подписаться'
    }
}

var locations = 
"{% for location in locations %} {{location.lat}}, {{location.lng}}; {%endfor %}"
locations = locations.split(';')

var coordinates = []



window.initMap = function() {

    for (var i =0; i <locations.length -1; i++)
{   
    temp = locations[i].split(',').map(parseFloat)
    coordinates.push({lat:temp[0], lng:temp[1]})
}
console.log(coordinates)


    var position = coordinates[0]

    var map = new google.maps.Map(document.getElementById('event-location'), 
    {
        zoom: 5,
        center:position     
    });

    for (var i = 0; i< coordinates.length; i++)
    {
        var marker = new google.maps.Marker({
            position: coordinates[i],
            map: map,
            label: (i+1).toString()             
        });

    }
    directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true,preserveViewport: true});
    directionsService = new google.maps.DirectionsService();
    directionsDisplay.setMap(map)

    buildRoute()
};


function buildRoute()
{
   var start = coordinates[0]
   var end = coordinates[coordinates.length-1]


    var wayps = []

   for (var i = 0; i < coordinates.length; i++) {
       wayps.push({
              location: coordinates[i],
              stopover: true
            })
   }
   console.log(wayps)


    var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.WALKING,
        waypoints:wayps,
        optimizeWaypoints: true

    };

     directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                        console.log(response)
                       
                    }
                    else
                    {
                        console.log(response)
                    }
                });
}




</script>

{% endblock scripts %}