<table class='right-side-menu'>
 

    <tr>
        <th class="myrow">
            <a href="{% url 'account' %}">
                <div class='right-side-menu-element' id="subscriptions">
                    Подписки
                </div>
            </a>
        </th>
    </tr>
    <tr>
        <th class="myrow">
            <a href="{% url 'events' %}">
                <div class='right-side-menu-element' id="events">
                    Мои события
                </div>
            </a>
        </th>
    </tr>
    <tr>
        <th class="myrow">
            <a href="{% url 'trips' %}">
                <div class='right-side-menu-element' id="trips">
                    Мои поездки
                </div>
            </a>
        </th>
    </tr>
    <tr>
        <th class="myrow">
            <a href="{% url 'messages' %}">
                <div class='right-side-menu-element' id="messages">
                    Сообщения
                </div>
            </a>
        </th>
    </tr>
    <tr>
        <th class="myrow">
            <a href="{% url 'edit-profile' %}">
                <div class='right-side-menu-element' id="edit-profile">
                    Настройки
                </div>
            </a>
        </th>
    </tr>
</table>
<script type="text/javascript ">
tokens = window.location.href.split('/')
active_href = tokens[4]
active_element = document.getElementById(active_href)
active_element.classList.add('active')
</script>