{% extends "main/base.html" %} {% load staticfiles %} {% block content %}
<div class="container profile">
    <center class="profile-center">
        <img style=" overflow:hidden;width:150px; height: 150px; border-radius: 50%;" src="{{profile.avatar.url}}">
        <h4 class="username">{{profile.user.username}}</h4>
        <h4 class="realname">{{profile.user.first_name}} {{profile.user.last_name}}, {{profile.age}} лет</h4>
        <div>
            {{profile.about}}
        </div>
    </center>
    <center style="margin-top: 20px;">
        <button type="submit" class="btn btn-success" onclick='writeMessage({{profile.user.id}})'>
            Написать сообщение <i class="glyphicon glyphicon-envelope"></i>
        </button>
    </center>
</div>
<script type="text/javascript">
function writeMessage(id) {
    room_name = Number.parseInt(id) * Number.parseInt('{{ user.id }}')
    window.location.href = '/profile/messages/' + room_name
}
</script>
{% endblock content %}