{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    {% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main_page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/header.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/event_form.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/event_page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static './account/css/account_menu.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'main/css/trip_form.css' %}" />



    {% endblock styles %}
</head>

<body>
     {% block header %}
     <div id='header'>
        <div class='header'>
            <a class='header-ref' href="/">
                <div class='header-div-left'>TripPlanner</div>
            </a>
            {%if not user.is_authenticated%}
            <a class='header-ref' href="/login">
                <div class='header-div-right'>Войти</div>
            </a>
            <a class='header-ref' href="/register">
                <div class='header-div-right'>Регистрация</div>
            </a>
            {% else%}
             <a class='header-ref' href="/logout">
                <div class='header-div-right'>Выйти</div>
            </a>
            <a class='header-ref' href="{% url 'account' %}">
                <div class='header-div-right'>Личный кабинет</div>
            </a>
            <a class='header-ref' href="{% url 'event_publish' %}">
                <div class='header-div-right'>Создать событие</div>
            </a>
            <a class='header-ref' href="{% url 'trip_publish' %}">
                <div class='header-div-right'>Создать поездку</div>
            </a>
            
            {%endif%}
        </div>
   </div>
    {% endblock header %}
    <div class='main-container'>
   


        {%block content%} {%endblock content%}
    </div>
    {%block scripts %} {%endblock scripts %}
</body>

</html>