{% extends "main/base.html" %} {% load staticfiles %} {% block content %}
<form id='event-form' method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <input type='text' id='event-title-field' required name='title' placeholder="Введите название">
    <input type="datetime-local" " name="date" id="date" required>
    <label id='date-label' >Выберите дату: </label>

    <img id="preview"  src="media/placeholder2.png " alt=" " />
    <label for='imgInput' class='btn btn-success'>
           <span class="glyphicon glyphicon glyphicon-download-alt "></span>
    Загрузить изображение</label>
    <input type='file' id="imgInput" name='preview' required onchange='imageUploaded(event)' />
    <textarea  id='event-description-field' class="form-control "  required placeholder="Введите описание здесь " name="description " rows="5 " id="comment" form='event-form'></textarea>
   <div id='map-div'>
    </div>
    <input type="hidden" name="lat">
    <input type="hidden" name="lng">
    <input type="hidden" name="address">
    <input id="pac-input" class="controls" type="text" placeholder="Поиск места">
    <div style="margin-bottom: 5px; ">
    <p style="display: inline-block; ">Выберите категорию:</p>
    <select  name='category' id='category' class="form-control form-control-sm " style="width: auto;display:inline-block; ">
        {%for category in categories %}
                <option value='{{category.name}}'>{{category.name}}</option>
        {%endfor %}
    </select>
    </div>
    <button id='publish-button' type="submit " class="btn btn-success "> Опубликовать</button>
    
</form>


{% endblock content %} {%block scripts %}

<script>

data = {}
var marker = null

function geodecode(latLng)
{   
    return new Promise( (resolve,reject) => {
    var geocoder = new google.maps.Geocoder;
     
        geocoder.geocode({ 'latLng': latLng }, (results, status) => {
        
        if (status == google.maps.GeocoderStatus.OK) {
     resolve(results[0].formatted_address);
        }
        });
    })
}

function updateLocationData(latLng)
{
    var lat = document.getElementsByName('lat')[0]
    var lng = document.getElementsByName('lng')[0]
    lat.value = latLng.lat();
    lng.value = latLng.lng();
    geodecode(latLng).then((response)=>{document.getElementsByName('address')[0].value=response; console.log(response)})
}


function imageUploaded(event) {
    var img = document.getElementById("preview")
    var file = document.getElementById('imgInput').files[0]
    var reader = new FileReader();
    reader.onloadend = function() {
        img.src = reader.result;
    }

    if (file) {
        reader.readAsDataURL(file);
    } else {
        img.src = " ";
    }

}

window.initMap = function() {
    var uluru = { lat: -25.363, lng: 131.044 };

    var map = new google.maps.Map(document.getElementById('map-div'), {
        zoom: 4,
        center: uluru
    });

    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

    google.maps.event.addListener(searchBox, 'places_changed', function() {
    searchBox.set('map', null);

    var places = searchBox.getPlaces();
    var bounds = new google.maps.LatLngBounds();
    var i, place;

     for (i = 0; place = places[i]; i++) {
        (function(place) {

         marker = new google.maps.Marker({        
           position: place.geometry.location
         });

         marker.bindTo('map', searchBox, 'map');

         marker.addListener('click', function(event) {
                marker.setMap(null);});

         google.maps.event.addListener(marker, 'map_changed', function() {
           if (!this.getMap()) {
             this.unbindAll();
           }
         });

         bounds.extend(place.geometry.location);

         updateLocationData(place.geometry.location);
       }(place));

     }
     map.fitBounds(bounds);
     searchBox.set('map', map);
     map.setZoom(Math.min(map.getZoom(),12));



   });

    map.addListener('click', function(event) {

        if (marker != null) {
            marker.setMap(null);
        }        
        
        marker = new google.maps.Marker({
            position: event.latLng,
            map: map,
        });

        marker.addListener('click', function(event) {
            marker.setMap(null);
        });

        updateLocationData(event.latLng);
    });

}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBehhemw69_xytwSyjeWyhwgxoG_X9cTAw&callback=initMap&libraries=places&language=ru ">
    </script>
{%endblock scripts %}