{% extends "main/base.html" %} {% load staticfiles %} {% block content %}
<form id='event-form' method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <input type='text' id='event-title-field' required name='title' placeholder="Введите название">
    <input type="datetime-local"" name="date" id="date" required>
    <label id='date-label' >Выберите дату: </label>

    <img id="preview" alt="" />
    <label for='imgInput' id='label-for-file-input'>Загрузить изображение</label>
    <input type='file' id="imgInput" name='preview' required onchange='imageUploaded(event)' />
    <textarea id='event-description-field' required placeholder="Введите описание здесь" name="description" form='event-form'></textarea>
    <div id='map-div'>
    </div>
    <input type="hidden" name="lat">
    <input type="hidden" name="lng">
    <input type="hidden" name="address">
    
    <button id='publish-button' type="submit" class="btn btn-success"> Опубликовать</button>
    
</form>
{% endblock content %} {%block scripts %}

<script>

data = {}
var marker = null


function imageUploaded(event) {
    var img = document.getElementById("preview")
    var file = document.getElementById('imgInput').files[0]
    var reader = new FileReader();
    reader.onloadend = function() {
        img.src = reader.result;
    }

    if (file) {
        reader.readAsDataURL(file);
    } else {
        img.src = "";
    }

}

window.initMap = function() {
    var uluru = { lat: -25.363, lng: 131.044 };
    var map = new google.maps.Map(document.getElementById('map-div'), {
        zoom: 4,
        center: uluru
    });

    map.addListener('click', function(event) {

        if (marker != null) {
            marker.setMap(null);
        }


        var geocoder = new google.maps.Geocoder;
        geocoder.geocode({ 'latLng': event.latLng }, function (results, status) {
        if (status !== google.maps.GeocoderStatus.OK) {
            alert(status);
        }

        if (status == google.maps.GeocoderStatus.OK) {
         console.log(results)
         document.getElementsByName('address')[0].value = (results[0].formatted_address);
         console.log(results[0].formatted_address)

        }
    });


        
        marker = new google.maps.Marker({
            position: event.latLng,
            map: map,
        });


        marker.addListener('click', function(event) {
            marker.setMap(null);
        });


        var lat = document.getElementsByName('lat')[0]
        var lng = document.getElementsByName('lng')[0]
        lat.value = event.latLng.lat();
        lng.value = event.latLng.lng();
    });

}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBehhemw69_xytwSyjeWyhwgxoG_X9cTAw&callback=initMap&language=ru">
    </script>
{%endblock scripts %}