<div class='content-grid'>
    {% for event in events%}
    <div class='content-grid-cell'>
        <a href={% url 'event_page' event.id %}>
        <img class='preview' src="{{ event.preview.url}}" />
        <span class='date-span'>{{event.date}}</span>
       
        <span class='title-span'>{{event.title}}</span>
        </a> 
        {% ifequal event.creater user %}
       
        <div>
            <form class='button-form' method="get" action={% url 'event_edit' event.id %} >           
                <button type="submit" class="btn btn-primary btn-xs">редактировать</button>
            </form>
            <form class='button-form' method="get" action={% url 'event_delete' event.id %}>
                <button type="submit" class="btn btn-danger btn-xs">удалить</button>
            </form>
      </div>
        {%endifequal %}
    </div>
    {% endfor%}
</div>
