<div class='content-grid'>
    {% for event in events%}
    <div class='content-grid-cell'>
        <a href={% url 'event_page' event.id %}>
        <img class='preview' src="{{ event.preview.url}}" />
        <span class='date-span'>{{event.date.month}}.{{event.date.day}}.{{event.date.year}} @ {{event.date.hour}}:{{event.date.minute}}</span>
       
        <span class='title-span'>{{event.title}}</span>
        </a>
        <div class='grid-footer'>
            <span class="glyphicon glyphicon-user">{{event.num_of_participants}}</span>
        </div>
    </div>
    {% endfor%}
</div>