{% extends "main/base.html" %} {% load staticfiles %} {% block content %}
<div id='grid-container'>
</div>
{% include "main/rightside_menu.html" %}
<script type="text/javascript">

function makeRequest()
{

	var keyword = document.getElementById('search').value
	var sort_option = document.getElementById('select')
	sort_option = sort_option.options[sort_option.selectedIndex].value;
    
    categories = document.getElementsByClassName('category-span-active')
    categories = Array.prototype.slice.call( categories)
    categories = categories.map(function(el){return el.innerText})
    console.log(categories)



	 $.ajax({
        url: 'eventsjson',
        method: 'GET',
        data: 
        {
        	keyword: keyword,
        	sort_option:sort_option,
            categories:categories
            
        }    
    }).done(function(data) {
        document.getElementById('grid-container').innerHTML = data['html']
    });
}

$(document).ready(function() {
   makeRequest()
});


</script>
{% endblock content %}