<div class='menu-grid'>
    <div class='menu'>
        <div class='menu-header'>
            Параметры поиска
        </div>
        <div class='menu-body'>
            <p class='sub-menu-header'><strong>Сортировка</strong></p>
            <select id='select' class="form-control form-control-sm" onchange="makeRequest()">
                <option value='date'>По дате</option>
                <option value='size'>По числу участников</option>
            </select>
            <br>
            <p class='sub-menu-header'><strong>Парметры</strong> </p>
            <div class='param-div'>
   
                    <input class="form-check-input" type="checkbox" checked>
  <label class="form-check-label" for="defaultCheck1">
   Только предстоящие
  </label>
            </div>
            <div class='param-div'>
          
                
            </div>
        </div>
    </div>
    <div class='menu'>
        <div class='menu-header'>
            Популярные теги
        </div>
        <div class='menu-body'>

        </div>
    </div>
</div>
