<div class='menu-grid'>
<div class='menu'>
        <div class='menu-header'>
            Категории
        </div>
        <div class='menu-body'>
       
            {%for category in categories %}
                <a class="category-span" onclick='categoryOnClick(this)'>{{category.name}}</a>
            {%endfor %}
        </div>
   </div>

    <div class='menu'>
        <div class='menu-header'>
            Параметры поиска
        </div>
        <div class='menu-body'>
            <p class='sub-menu-header'>Сортировка</p>
            <select id='select' class="form-control form-control-sm" onchange="makeRequest()">
                <option value='date'>По дате</option>
                <option value='size'>По числу участников</option>
            </select>
            <br>
            <p class='sub-menu-header'>Параметры </p>
            <div class='param-div'>
                <input class="form-check-input" type="checkbox" checked>
                <label class="form-check-label" for="defaultCheck1">
                    Только предстоящие
                </label>
            </div>
            <div class='param-div'>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
        function categoryOnClick(elem){
        if (elem.clicked)        
        {
            elem.classList.remove('category-span-active')
            elem.clicked = false
            elem.removeChild(elem.childNodes[1])
            return;
        }

        elem.classList.add('category-span-active');
        var cross = document.createElement('i');

        cross.classList.add('glyphicon')
        cross.classList.add('glyphicon-remove')
        cross.classList.add('cross')
        elem.appendChild(cross)
        elem.clicked = true

        
        }

</script>