.right-side-menu
{	

	float: left;
	margin-right: 20px;
	width: 240px;
	background-color: white;
	border-collapse:collapse;
}

.row
{
	border: 0.5px solid #D8D8D8;
}

.right-side-menu-element
{

	width: 240px;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	color: grey;
	
	margin: 0;
	border-collapse: collapse;

}

.right-side-menu-element.active
{
	width: 240px;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	color: black;
	font-weight: 700;
	border-top: 3px solid #5cb85c;

}



