.left-side-menu
{	
	float: left;
	width: 240px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	margin-right: 2%;	
	background-color: white;	
}

.left-side-menu-element
{

	width: 100%;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #EFF2F5;

}

.left-side-menu-element:hover { 
    background-color: #f4f7fc;
}

