#map-div
{
	margin-top:3%;
	margin-left: 15%;
	width: 70%;
	height: 30%;
	background-color: grey;
}

#event-description-field
{
	margin-top: 1%;
	width: 60%;
	height: 15%;
	margin-left: 20%;
	overflow:hidden;
	resize: none;
	border:none;
	display: inline-block;
}

#event-title-field
{
	width: 70%;
	height: 30px;
	margin-left: 15%;
	margin-top: 1%;
	text-align: left;
	overflow:hidden;	
	font-size: 15pt;
	border:none;

}

#publish-button
{
	margin-top: 1%;
	margin-left: 15%;

}

#event-form
{
	height: 100%;
	width: 80%;
	margin-left: 10%;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

