#map-div
{
	margin-top:1%;
	height: 350px;
	width: 100%;
	background-color: grey;
	margin-bottom: 10px;
}

#event-description-field
{

	font-family: 'IBM Plex Serif', serif;
	font-size:11pt;
	margin-top: 1%;
	width: 100%;
	height: 300px;
	overflow:hidden;
	resize: none;
	border:none;
	display: block;
}

#event-title-field
{
	width: 40%;
	height: 30px;
	text-align: left;
	overflow:hidden;	
	font-size: 15pt;
	border:none;
}

#date
{
	float: right;
}
#date-label
{

	float: right;
	width: 150px;
	text-align: center;
	vertical-align: middle;
	
}



#event-form
{
	
	height: 100%;
	width: 80%;
	margin:0 auto;
	padding: 5%;
	padding-top: 4%;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	background-color: white;
}

#imgInput
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#label-for-file-input

{	
	margin-top: 10px;
	display: block;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
	width: 200px;
	border-radius: 4px;	
	background-color: #4CAF50;
	color: white;
	font-size: 12pt;
}

#preview
{
	object-fit: cover;
	margin-top: 10px;
	width: 100%;
	height: 320px;
	background-color: grey;
}