#map-div
{
	margin-top:5px;
	height: 350px;
	width: 100%;
	background-color: grey;
	margin-bottom: 10px;
}

#event-description-field
{

	font-family: 'IBM Plex Serif', serif;
	font-size:11pt;
	margin-top: 5px;
	width: 100%;
	height: 300px;
	overflow:hidden;
	resize: none;
	border:none;
	display: block;
}

#event-title-field
{
	width: 40%;
	height: 30px;
	text-align: left;
	overflow:hidden;	
	font-size: 15pt;
	border:none;
}

#date
{
	float: right;
	height: 30px;
}
#date-label
{
	color:grey;

	height: 30px;
	line-height: 30px;
	float: right;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	font-weight: 600;
	
}



#event-form
{
	display: inline-block;
	width: 80%;
	margin:0 auto;
	padding: 5%;
	padding-top: 4%;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	background-color: white;
	margin-bottom: 20px;
}

#imgInput
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


#preview
{
	object-fit: cover;
	margin-top: 10px;
	width: 100%;
	height: 320px;
	margin-bottom: 5px;
}