.event-description-div
{
	float: left;
	font-family: 'IBM Plex Serif', serif;
	font-size:11pt;
	margin-top: 1%;
	width: 70%;
	height: 200px;
	overflow:hidden;
	display: inline;
}

.date-description-div
{
	float: right;
	font-size:11pt;
	margin-top: 1%;
	width: 30%;
	height: 100px;
	display: inline;
	overflow:hidden;
	display: block;
}

.place-description-div
{
	float: right;
	font-size:11pt;
	width: 30%;
	height: 100px;
	display: block;
	overflow:hidden;
}

.subscribers-grid
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(80px, 80px));
}

#place-name:hover
{
text-decoration: underline;
cursor: pointer;

}

#event-location
{
	height: 400px;
	width: 100%;
}

#category-span
{
	float: right;
	height: 30px;
	text-align: left;
	overflow:hidden;	
	font-size: 15pt;
	border:none;
}