
#header
{
	background-color: #222;
	width: 100%;


}
.header
{

	background-color: #222;	
	height: 60px;
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 2%;


}

.header-ref
{
	text-decoration: none;
	color:white;

}

.header-ref:hover { text-decoration: none; color:white;}

/*стиль дива с названием работы*/
.header-div-left
{
	text-indent: 10px;
	vertical-align: middle;
	text-align: center;
	height: 60px;
	line-height: 60px;
	float: left;
	font-size: 20pt;
	color: #052c6b;
	font-weight: bold;
	color:white;
}

/*стиль дивов с элементам меню*/
.header-div-right
{

	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	text-align: center;
	height: 60px;
	line-height: 60px;
	float: right;
	/*border-left: 1px solid #EFF2F5;*/

}


.create-button
{
	margin-left: 20px;
	float: right;
	display: inline;
	margin-top: 12px;
}

