
#header
{
	background-color: white;
	width: 100%;


}
.header
{

	background-color: white;	
	height: 60px;
	width: 1440px;
	margin: 0 auto;
	margin-bottom: 2%;


}

.header-ref
{
	text-decoration: none;
	color:#45494E;
}

/*стиль дива с названием работы*/
.header-div-left
{
	text-indent: 10px;
	vertical-align: middle;
	text-align: center;
	height: 60px;
	line-height: 60px;
	float: left;
	font-size: 20pt;
	color: #052c6b;
}

/*стиль дивов с элементам меню*/
.header-div-right
{

	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	text-align: center;
	height: 60px;
	line-height: 60px;
	float: right;
	/*border-left: 1px solid #EFF2F5;*/

}


.header-div-right:hover { 
    background-color: #f4f7fc;
}

