

#login-div
{
	padding: 2%;
	margin-left: 38%;
	margin-top: 10%;
	width: 	25%;
	height: 300px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);	
}

#username
{
	margin-top: 1%;
	margin-left: 10%;
	width: 80%;
	height: 40px;
	border:none;
	border: 1px solid #e1e7f2;
	font-size: 14pt;

}

#password
{
	border: 1px solid #e1e7f2;
	margin-top: 1%;
	margin-left: 10%;
	width: 80%;
	height: 40px;
	font-size: 14pt;
}

#login-header
{
	

	font-size: 20pt;
	text-align: center;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

#login-button
{
	margin-top: 5%;
	margin-left: 10%;
	width: 80%;
	height: 40px;
	font-size: 14pt;
	position: relative;
  vertical-align: top;
  
  padding: 0;

  color: black;
  text-align: center;
  background-color: white;
  border: 0;
border-radius: 10px;
  cursor: pointer;


}