.main-container
{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 20px;
	width: 94%;
	height: 2000px;

}

.content-container
{
	
	width: 85%;
	float: left;
	height: 100%;
	background-color: grey;

}

.right-side-bar
{	
	right: 3%;
	float: right;
	position: fixed;
	background-color: red;
	height: 300px;
	width: 14%;

}

/*стили страницы создания запииси о событии*/

#map-div
{
	margin-top:3%;
	margin-left: 15%;
	width: 70%;
	height: 30%;
	background-color: grey;
}

#event-description-field
{
	margin-top: 1%;
	width: 60%;
	height: 15%;
	margin-left: 20%;
	overflow:hidden;
	resize: none;
	border:none;
	display: inline-block;
}

#event-title-field
{
	width: 70%;
	height: 30px;
	margin-left: 15%;
	text-align: left;
	overflow:hidden;	
	font-size: 15pt;
	border:none;

}

#publish-button
{
	margin-top: 1%;
	margin-left: 15%;

}