@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

body
{
	margin: 0;
	
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: #f5f5f5;
}

a
{
	text-decoration: none;
	color:black;
}
a:hover { text-decoration: none; color:black;}

html 
{
	height: 100%;
	width: 100%;

}

.main-container
{
	margin-left: 2%;
	margin-right: 2%;
	width: 1024px;
	margin:0 auto;

}

/*Стили для грида с контентом*/
.content-grid
{	
	
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
	width: 700px;
	float: left;
}

.content-grid-cell
{

  box-shadow: 0 0 3px rgba(0,0,0,0.5);	
  font-size: 30px;
  text-align: center;
  min-height: 200px;
  height:auto;
  margin-right: 5%;
  margin-bottom: 5%;
  background-color: white
}

.content-grid-cell:hover
{
	box-shadow: 0 0 3px rgba(0,0,0,3);	
}

.date-span
{
	display: block;
	font-size: 10pt;
	color: grey;
}

.title-span
{
	display: inline-block;
	overflow: hidden;
	width: 90%;
	font-size: 16px;
	font-weight: 700;
}

.preview
{
	width: 100%;
	background-color: grey;
	height: 70%;
	object-fit: cover;
}

.grid-footer 
{
	height: 32px;
	width: 100%;
	display: block;
	border-bottom: 1px solid grey;
	bottom:0;
}

.glyphicon-user
{
	font-size: 10pt;
	color: grey;
	float: left;
	margin: 10px;

}


.search-container
{
	padding-top: 12px;
	height: 60px;
	display: block;
	width: 256px;
	float: right;
	margin-bottom: 2%;
	
}
#search-input
{
	width: 256px;
}
/*правое меню*/


.menu-grid
{	
	
	width: 256px;
	float:right;
	
}

.menu
{
	
	width: 100%;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);	
	margin-bottom: 5%;
background-color: white;
}

.menu-header
{

	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	text-align: left;
	text-indent: 10px;
	border-bottom: 1px solid #EFF2F5;
}

.menu-body
{
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #EFF2F5;

}


.sub-menu-header
{
	height: 32px;
	line-height: 32px;
	margin: 0;
	text-align: left;
	margin-left: 10px;
	color: grey;

}


.param-div
{
	
	height: 32px;
	line-height: 32px;
	text-align: left;
	text-indent: 10px;

}


#select
{
	width: 200px;
	margin: 0 auto;
}
.button-form
{
	
	margin-left: 10px;
	display: block;
	float: left;
}

