@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

body
{
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'IBM Plex Sans', sans-serif;
}

a
{
	text-decoration: none;
	color:black;
}

html 
{
	height: 100%;
	width: 100%;

}

.main-container
{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;

}

/*Стили для грида с контентом*/
.content-grid
{	
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	width: 85%;
	float: left;
}

.content-grid-cell
{

  box-shadow: 0 0 3px rgba(0,0,0,0.5);	
  font-size: 30px;
  text-align: center;
  height:230px;
  margin-right: 5%;
  margin-bottom: 5%;
}

.content-grid-cell:hover
{
	box-shadow: 0 0 3px rgba(0,0,0,3);	
}


.date-span
{
	display: block;
	font-size: 10pt;
	color: grey;
}

.title-span
{
	display: block;
	font-size: 12pt;
}

.preview
{
	width: 100%;
	background-color: grey;
	height: 70%;
	object-fit: cover;
}


/*стили для правого сайд бара*/
.right-side-bar
{	
	right: 2%;
	float: right;
	position: fixed;
	height: 300px;
	width: 14%;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);		
}


