#trip-div
{
	
	height: 400px;
	background-color: grey;
	margin-right: 5%;
}
#locations-div

{
	height: 100%;

}

#grid
{
	margin-top: 1%;
	display: grid;
	width: 100%;
	height: 40%;
	grid-template-columns: 60% 35%;
	margin-bottom: 10px;

}

.location-element
{
	padding-left: 5%;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 10pt;
	background-color: #f4f7fc;
	vertical-align: middle;
}	

