#trip-div
{
	
	height: 100%;
	background-color: grey;
	margin-right: 5%;
}
#locations-div

{
	height: 100%;

}

#route-button
{
	
	display:block;
	width: 200px;
	height: 40px;
	font-size: 11pt;
	vertical-align: bottom;
	padding: 0;
	color: black;
	text-align: center;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	background-color: #366ded;
	color: white;
}

#grid
{
	margin-top: 1%;
	display: grid;
	width: 100%;
	height: 40%;
	grid-template-columns: 60% 35%;

}

.location-element
{
	padding-left: 5%;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 10pt;
	background-color: #f4f7fc;
	vertical-align: middle;
}	

