#trip-div
{
	
	height: 400px;
	background-color: grey;
	
}

#locations-div
{
	height: 400px;
}



.location-element
{
	padding-left: 5%;
	width: 100%;
	overflow: hidden;
	height: 60px;
	line-height: 60px;
	font-size: 10pt;
	background-color: #f4f7fc;
	vertical-align: middle;
	word-wrap: break-word;
}	

.trip-map
{
	background-color: #d7dbe2;
}

#route-button
{
	margin:5px;
}